aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
beautifulsoup4==4.11.1
build==0.8.0
certifi==2022.6.15
charset-normalizer==2.0.12
create-license==2.1.1
dateparser==1.1.1
distlib==0.3.6
filelock==3.12.0
frozenlist==1.2.0
gevent==21.12.0
greenlet==1.1.2
idna==3.3
idna-ssl==1.1.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
jsonschema==4.17.3
multidict==5.2.0
numpy==1.24.3
packaging==21.3
pandas==1.1.5
pep517==0.12.0
platformdirs==3.3.0
pyparsing==3.0.9
pyproject-toml==0.0.10
pyrsistent==0.19.3
python-binance==1.0.16
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
regex==2022.3.2
requests==2.27.1
simplecfg==2.0.0
six==1.16.0
soupsieve==2.3.2.post1
TA-Lib==0.4.24
ta-lib-bin==0.4.26
toml==0.10.2
tomli==1.2.3
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
ujson==4.3.0
urllib3==1.26.10
virtualenv==20.22.0
websocket-client==1.5.1
yarl==1.7.2
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
